
				<div class="l-submain type_fullwidth">
					<div class="l-submain-h g-html i-cf">
					
						<div class="w-map">
							<div class="w-map-h" style="height: 300px;">
							<%= image_tag("portvell.jpg", :class=>"w-map-h", :style=>"300px;") %>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html i-cf">
					<p id="notice"><%= notice %></p>
						<div class="g-cols">
							<div class="one-third">
							
								<h3>Contact Info</h3>
								
								<div class="w-contacts">
									<div class="w-contacts-h">
										<div class="w-contacts-list">
											<div class="w-contacts-item for_address">
												<i class="icon-location"></i>
												<span class="w-contacts-item-name">Questions</span>
												<span class="w-contacts-item-value">: If you have any questions or problems or want to clarify anything dont hesitate to call me or Jen, or if your at work then email ;) </span>
											</div>
											<div class="w-contacts-item for_phone">
												<i class="icon-mobile"></i>
												<span class="w-contacts-item-name">Phone:</span>
												<span class="w-contacts-item-value">+44 7976884486</span>
											</div>
											<div class="w-contacts-item for_email">
												<i class="icon-mail"></i>
												<span class="w-contacts-item-name">Email:</span>
												<span class="w-contacts-item-value"><a href="mailto:tmurdoch_99@yahoo.com">tmurdoch_99@yahoo.com</a></span>
											</div>
										</div>
									</div>
								</div>

								<div class="g-hr">
									<span class="g-hr-h">
										<i class="icon-star"></i>
									</span>
								</div>
								
								
								
								
							</div>
							<div class="two-thirds">
							
								<h3>RSVP</h3>
						
 
							
 
 <%= render 'form' %>


</div>	
 </div>	
</div>
</div>
</div>