		<!-- MAIN -->
		<div class="l-main">
			<div class="l-main-h">

				<div class="l-submain">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Things to see and do</h2>
						<p style="text-align: center;">Astra theme provides responsive and flexible design. All page layouts works perfectly on all devices, from large monitors to mobile phones. All elements enhanced for Retina displays, so they look clean and sharp on modern gadgets.</p>
						<div class="wpb_single_image align_center animate_afb">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>
						
						</div>
					</div>
				</div>
				
				<div class="l-submain color_alternate">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Extensive Style Options</h2>
						<p style="text-align: center;">Astra theme comes with 8 predefined color schemes. But you can go beyond them – adjust one of predefined or create your very own color scheme! Every color on the page can be changed.</p>
						<div class="wpb_single_image align_center animate_afc">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>

					</div>
				</div>
				
				<div class="l-submain color_primary" id="parallax_section" style="background-image: url(img/slides/parallax3.png);">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Parallax Effect Sections</h2>
						<p style="text-align: center;">You can easuly add 3D looking parallax backgrounds to page sections. Change Parallax Effect speed and even make it reversed.</p>
						<div class="g-hr type_invisible"></div>
						<div class="wpb_single_image align_center animate_afb">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>
						
					</div>
				</div>
				<script>jQuery(window).load(function(){ jQuery('#parallax_section').parallax('50%', '-1.4'); });</script>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Advanced Layout Options</h2>
						<p style="text-align: center;">The theme gives you opportunity to change layout settings for whole site and for each particular page. You can easily add different Widgets there to fit your needs on every page.</p>
						<div class="wpb_single_image align_center animate_afc">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>

					</div>
				</div>

				<div class="l-submain color_primary">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Over 249 Icons Integrated</h2>
						<p style="text-align: center;">Astra comes with entire FontAwesome Icons set integrated. You can use them at IconBoxes, Tabs, Accordions and many other cases.</p>
						<div class="g-hr type_invisible"></div>
						<div style="text-align:center; font-size:64px;">
							<i class="icon-star"></i>
							<i class="icon-heart-empty"></i>
							<i class="icon-cog"></i>
							<i class="icon-file-text"></i>
							<i class="icon-anchor"></i>
							<i class="icon-gift"></i>
							<i class="icon-camera-retro"></i>
							<i class="icon-comments-alt"></i>
							<i class="icon-beaker"></i>
							<i class="icon-globe"></i>
							<i class="icon-thumbs-up-alt"></i>
							<i class="icon-plane"></i>
							<i class="icon-lightbulb"></i>
						</div>
						<div class="g-hr type_invisible"></div>

					</div>
				</div>

				<div class="l-submain">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Revolution Slider Included</h2>
						<p style="text-align: center;">We have not only included this plugin into theme files, but also adjusted it’s style so you can create slides that will correspond overall Astra theme design. You can create unlimited number of Sliders with help of this Premium Plugin.</p>
						<div class="wpb_single_image align_center animate_aft">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>

					</div>
				</div>

				<div class="l-submain color_alternate">
					<div class="l-submain-h g-html">
					
						<h2 style="text-align: center;">Outstanding & Prompt Free Support</h2>
						<p style="text-align: center;">We care about our customers and provide 100% free lifetime support and updates. Answer customers` questions, guide and help them is number one priority for our team. You don’t have to take our word on it – see ratings of all our items at ThemeForest.</p>
						<div class="wpb_single_image align_center animate_afb">
							<img src="img/placeholder/1000x500.gif" alt="">
						</div>

					</div>
				</div>

				<div class="l-submain color_primary">
					<div class="l-submain-h g-html">

						<div class="g-cols">
							<div class="full-width">
								<div class="w-actionbox controls_aside color_primary">
									<div class="w-actionbox-h">
										<div class="w-actionbox-text">
											<h3>ASTRA — THE BEST WAY TO MAKE YOUR WORK EASIER!</h3>
										</div>
										<div class="w-actionbox-controls at_right">
											<a class="w-actionbox-button g-btn type_primary size_big" href="#" target="_blank"><span>Purchase Theme</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /MAIN -->