				<div class="l-submain for_pagehead color_alternate">
					<div class="l-submain-h g-html i-cf">
						<div class="w-pagehead">
							<h1>Logistics</h1>
							<p>Getting There, Staying there, Getting around</p>
							<div class="g-breadcrumbs">
								<a href="/venue" class="g-breadcrumbs-item">Getting There</a>
								<span class="g-breadcrumbs-separator">&raquo;</span>
								<span class="g-breadcrumbs-item">getting there</span>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">

						<%= image_tag("barca1.jpg") %>
						<div class="g-cols">
							<div class="one-third">
								<h3>Logistics</h3>
								<p>This is just a short section to give a few pointers if needed about getting to Barcelona and what to do when your get there. Im sure you've all been abraod before and you have your favourite methods of booking it etc so this is just to help fill in the gaps, if they're are any.</p>

								<div class="g-hr">
									<span class="g-hr-h">
										<i class="icon-star"></i>
									</span>
								</div>
								
							</div>
							<div class="two-thirds">

								<h3>More Info</h3>

								<div class="w-tabs">
									<div class="w-tabs-h">
										<div class="w-tabs-list">
											<div class="w-tabs-item active">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Getting there</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Where to stay</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Getting around</span>
											</div>
										</div>
										<div class="w-tabs-section active">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Summary</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content" style="">
												<div class="w-tabs-section-content-h">
													<p>Flights are not everyday from Manchester but are from Liverpool. So i suppose it depends on how long you want to stay out there, i know a lot of you are going out on the mon coming back Friday but some of you might struggle to get time off work or not fancy spending any more money (sorry).  There will be alot coming from Wales too so instead of trying to organise everything its best everyone has a look for themselves. We usually use <a href="http://www.skyscanner.net/">www.skyscanner.net</a> to search across all the airlines to find the cheapest deals. You can easily swap between airports to find the best deals. Taxis from the airport to Barcelona are about &euro;15-20 as it's a little outside the city. </p>
													</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Extended Info</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<p>Barcelona is quite compact for a major city so it doesnt really matter where you stay becuase a taxi isnt very expensive to cross the city. You can see where the venue is on the venue page if you wnat to stay close by but if budget is an issue find the cheapest hotel you can find and just get a taxi. If theres a big group of you vila and apartments can work out really cheap over a few days for a lot of you. Again <a href="http://hotels.skyscanner.com/">hotels.skyscanner.com/</a> is a good search engine for really cheap rooms, <a href="www.booking.com/">booking.com</a> is good, theres some 8 person apartments on there for around £30 per person per night, and they look really nice. </p>
													</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Additional Few Things</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<p>Like iv mentioned, taxis are in abundance and theyre not too pricey. Theres an underground that iv used before which is good if you want to cross the city quickly and cheaply. Most taxi drivers, kiosk workers, ticket sales, waiters etc speak english so yu shouldnt struggle to much getting around. If they dont understand you just speak louder. usually works. The citys relatively safe, but like most major cities there are pick pockets, especailly around the touristy places so just weary of that. </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			