				<div class="l-submain for_pagehead color_alternate">
					<div class="l-submain-h g-html i-cf">
						<div class="w-pagehead">
							<h1>Logistics</h1>
							<p>Getting There, Staying there, Getting around</p>
							<div class="g-breadcrumbs">
								<a href="/venue" class="g-breadcrumbs-item">Getting There</a>
								<span class="g-breadcrumbs-separator">&raquo;</span>
								<span class="g-breadcrumbs-item">getting there</span>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">

						<%= image_tag("barca1.jpg") %>
						<div class="g-cols">
							<div class="one-third">
								<h3>Logistics</h3>
								<p>This is just a short section to give a few pointers if needed about getting to Barcelona and what to do when your get there. I'm sure you've all been abroad before and you have your favourite methods of booking it etc so this is just to help fill in the gaps, if there are any.</p>

								<div class="g-hr">
									<span class="g-hr-h">
										<i class="icon-star"></i>
									</span>
								</div>
								
							</div>
							<div class="two-thirds">

								<h3>More Info</h3>

								<div class="w-tabs">
									<div class="w-tabs-h">
										<div class="w-tabs-list">
											<div class="w-tabs-item active">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Getting there</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Where to stay</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Getting around</span>
											</div>
										</div>
										<div class="w-tabs-section active">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Summary</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content" style="">
												<div class="w-tabs-section-content-h">
													<p>Flights are not everyday from Manchester but are from Liverpool. So I suppose it depends on how long you want to stay out there. I know a lot of you are going out on the Mon coming back Friday but some of you might struggle to get time off work or not fancy spending any more money (sorry).  There will be a lot coming from Wales too so instead of trying to organise everything it's best everyone has a look for themselves. We usually use <a href="http://www.skyscanner.net/">www.skyscanner.net</a> to search across all the airlines to find the cheapest deals. You can easily swap between airports to find the best deals. Taxis from the airport to Barcelona are about &euro;15-20 as it's a little outside the city. </p>
													</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Extended Info</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<p> We dont know where we are staying yet, There are literally hundreds of hotels in Barcelona to choose from with a few detailed below. Book online below, or find another option nearby.<div class="w-tabs layout_accordion type_toggle">
									<div class="w-tabs-h">
										<div class="w-tabs-section with_icon ">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon icon-beaker"></span>
												<span class="w-tabs-section-title-text">The Venue</span>
												<span class="w-tabs-section-title-control"><i class="icon-angle-down"></i></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="w-contacts">
							<div class="w-contacts-h">
								<div class="w-contacts-list">
									<div class="w-contacts-item for_address">
										<i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Pl. Sant Just nº 4, 08002 Barcelona</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Phone:</span>
										<span class="w-contacts-item-value">93 315 22 38   </span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Website:</span>
										<span class="w-contacts-item-value"><a href="http://www.palaumoxo.com/">http://www.palaumoxo.com/</a></span>
									</div>
								</div>
							</div>
						</div>
												</div>
											</div>
										</div>
										<div class="w-tabs-section with_icon">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon icon-book"></span>
												<span class="w-tabs-section-title-text">Grand Hotel Central</span>
												<span class="w-tabs-section-title-control"><i class="icon-angle-down"></i></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="w-contacts-h">
								                          <div class="w-contacts-list">
									                         <div class="w-contacts-item for_address">
										                        <i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Via Laietana, 30, Ciutat Vella, 08003 Barcelona</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Distance from venue: </span>
										<span class="w-contacts-item-value"> 280 metres   </span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Prices from: </span>
										<span class="w-contacts-item-value"> £211 per night   </span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Book online: </span>
										<span class="w-contacts-item-value"><a href="http://www.booking.com/hotel/es/grandhotelcentral.en-gb.html?sid=a137d3868a2c43bd74734f90e0a9c0be;dcid=1"> Here!</a></span>
									</div>
								</div>
							</div>
							</div>
											</div>
										</div>
										<div class="w-tabs-section with_icon">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon icon-book"></span>
												<span class="w-tabs-section-title-text">AinB Gothic-Cathedral</span>
												<span class="w-tabs-section-title-control"><i class="icon-angle-down"></i></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="w-contacts-h">
								                          <div class="w-contacts-list">
									                         <div class="w-contacts-item for_address">
										                        <i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Jaume I, 13 , Ciutat Vella, 08002 Barcelona</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Distance from venue: </span>
										<span class="w-contacts-item-value"> 47 metres   </span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Prices from: </span>
										<span class="w-contacts-item-value"> £210 per night   </span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Book online: </span>
										<span class="w-contacts-item-value"><a href="http://www.booking.com/hotel/es/apartments-in-barcelona-ataulf.en-gb.html?sid=a137d3868a2c43bd74734f90e0a9c0be;dcid=1"> Here!</a></span>
									</div>
								</div>
							</div>
							</div>
											</div>
										</div>
										<div class="w-tabs-section with_icon">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon icon-book"></span>
												<span class="w-tabs-section-title-text">Colón</span>
												<span class="w-tabs-section-title-control"><i class="icon-angle-down"></i></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="w-contacts-h">
								                          <div class="w-contacts-list">
									                         <div class="w-contacts-item for_address">
										                        <i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Avinguda Catedral, 7, Ciutat Vella, 08002 Barcelona</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Distance from venue: </span>
										<span class="w-contacts-item-value"> 290 metres   </span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Prices from: </span>
										<span class="w-contacts-item-value"> £118 per night   </span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Book online: </span>
										<span class="w-contacts-item-value"><a href="http://www.booking.com/hotel/es/colon-barcelona.en-gb.html?sid=a137d3868a2c43bd74734f90e0a9c0be;dcid=1"> Here!</a></span>
									</div>
								</div>
							</div>
							</div>
											</div>
										</div>
										<div class="w-tabs-section with_icon">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon icon-book"></span>
												<span class="w-tabs-section-title-text">Mercer Hotel Barcelona</span>
												<span class="w-tabs-section-title-control"><i class="icon-angle-down"></i></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="w-contacts-h">
								                          <div class="w-contacts-list">
									                         <div class="w-contacts-item for_address">
										                        <i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Dels Lledo, 7, Ciutat Vella, 08003 Barcelona</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Distance from venue: </span>
										<span class="w-contacts-item-value"> 71 metres   </span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Prices from: </span>
										<span class="w-contacts-item-value"> £228 per night   </span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Book online: </span>
										<span class="w-contacts-item-value"><a href="http://www.booking.com/hotel/es/mercer-barcelona.en-gb.html?sid=a137d3868a2c43bd74734f90e0a9c0be;dcid=1"> Here!</a></span>
									</div>
								</div>
							</div>
							</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
													</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Additional Few Things</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<p>As I have mentioned, taxis are in abundance and they're not too pricey. There's an underground that I've used before which is good if you want to cross the city quickly and cheaply. Most taxi drivers, kiosk workers, ticket sales, waiters etc speak English so you shouldn't struggle too much getting around. If they don't understand you just speak louder. Usually works. The citys relatively safe, but like most major cities there are pick pockets, especially around the touristy places so just wary of that. </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			