	
	<% if user_signed_in? %>
				<div class="l-submain for_pagehead">
					<div class="l-submain-h g-html i-cf">
						<div class="w-pagehead">
							<h1>Your Home Page</h1>
							<p>Hi  <%= current_user.name %>, hope your well</p>
							<!-- breadcrums -->
							<div class="g-breadcrumbs">
								<a href="index.html" class="g-breadcrumbs-item">Home</a>
								<span class="g-breadcrumbs-separator">&raquo;</span>
								<a href="" class="g-breadcrumbs-item">Pages</a>
								<span class="g-breadcrumbs-separator">&raquo;</span>
								<span class="g-breadcrumbs-item">Page Left Sidebar</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html i-cf">
						<div class="l-content">
							<div class="l-content-h">

								<h2>Why Barcelona?</h2>
								<div class="wpb_single_image">
									<%= image_tag("arch.jpg") %>
								</div>
								<p>After we got engaged we started to look for venues around the North west, we found a few we really liked and we sent off for prices and brochures. Not long after we both attended a friend’s wedding in Cheshire,  some friends stayed over in hotels and others got taxis. The following weeks we talked about how much money we’d all spent on attending the wedding and it got us thinking that it’s not a giant leap to spending a few days abroad. </p>
								<p>Myself and Jen have been to Barcelona 6 times in the last 8 years, and we love it. The place means a lot to us and it would mean even more if you could join us there for our wedding .  We’re not under any illusion that if you attend you’ll spend the same amount of money as if you we’re staying over in a hotel in Manchester or getting mini buses to Cheshire, but we hope you could maybe treat the wedding as a mini break, spend one day with us and maybe a day or two with friends, family or loved ones in Barcelona. </p>
								
							</div>
						</div>
						
						<div class="l-sidebar at_left">
							<div class="l-sidebar-h">

								<div class="widget">
									<h4>Things you need to do</h4>
									
									<nav class="w-nav">
										<div class="w-nav-h">
										
											<div class="w-nav-list layout_ver level_1">
										
												<div class="w-nav-list-h">
													
													<% if @has_made_rsvp %>
													
													<div class="w-nav-item level_1">
														<div class="w-nav-item-h">
															
																<span class="w-nav-title">You have RSVP'd!</span>
															
														</div>
													
													</div>
		<% else %>
		
		
													<div class="w-nav-item level_1">
														<div class="w-nav-item-h">
															
																<%= link_to "RSVP", new_attending_path, :class=> 'w-nav-anchor level_1'%>
															
															
														</div>
													</div>
													<% end %>
													<div class="w-nav-item level_1">
														<div class="w-nav-item-h">
															<a href="#" class="w-nav-anchor level_1">
																<span class="w-nav-title">Choose your menu</span>
															</a>
														</div>
													</div>
													

												</div>
											</div>
										</div>
									</nav>
									
								</div>

																														
							
							</div>
						</div>		
						
				</div>
						</div>	
      <% else %>

		
				<div class="l-submain color_primary type_fullwidth border_none">
					<div class="l-submain-h g-html">
						<div class="g-cols">
							<div class="full-width">
							
								<div class="fullwidthbanner-container">
									<div class="fullwidthbanner">
										<ul>
											<li data-transition="fade">
												<%= image_tag("bg-04.jpg") %>

												<div class="caption lfl"
													 data-x="27"
													 data-y="180"
													 data-speed="400"
													 data-start="400"
													 data-easing="easeInOutSine"><img src="img/placeholder/220x220.gif" alt="Image"></div>
												<div class="caption lfr"
													 data-x="555"
													 data-y="180"
													 data-speed="400"
													 data-start="400"
													 data-easing="easeInOutSine"><img src="img/placeholder/220x220.gif" alt="Image"></div>									
												<div class="caption lft"
													 data-x="center"
													 data-y="170"
													 data-speed="400"
													 data-start="600"
													 data-easing="easeInOutSine"><img src="img/placeholder/220x220.gif" alt="Image"></div>
												<div class="caption astra_white_heading_1 sft"
													 data-x="center"
													 data-y="80"
													 data-speed="600"
													 data-start="1000"
													 data-easing="easeInOutExpo">ASTRA — NEW EDGE OF THE THEME EXPERIENCE</div>
											</li>
											<li data-transition="curtain-1">
												<img src="img/slides/transparent.png" alt="">

												<div class="caption sfb"
													 data-x="720"
													 data-y="80"
													 data-speed="800"
													 data-start="600"
													 data-easing="easeInOutSine"><img src="img/placeholder/220x220.gif" alt="Image"></div>
												<div class="caption sfl"
													 data-x="519"
													 data-y="169"
													 data-speed="800"
													 data-start="800"
													 data-easing="easeInSine"><img src="img/placeholder/220x220.gif" alt="Image"></div>
												<div class="caption astra_white_heading_1 sfr"
													 data-x="0"
													 data-y="130"
													 data-speed="300"
													 data-start="1000"
													 data-easing="easeInOutExpo">Premium WordPress Theme</div>
												<div class="caption astra_white_medium_text sfl"
													 data-x="0"
													 data-y="210"
													 data-speed="300"
													 data-start="1200"
													 data-easing="easeInOutSine">Use powerful theme features and options to create<br>awesome and unique site for your business or portfolio.</div>
												<div class="caption sft"
													 data-x="0"
													 data-y="300"
													 data-speed="500"
													 data-start="1400"
													 data-easing="easeInOutSine"><img src="img/slides/circle_wp.png" alt="Image"></div>
												<div class="caption sfb"
													 data-x="70"
													 data-y="300"
													 data-speed="500"
													 data-start="1600"
													 data-easing="easeInOutSine"><img src="img/slides/circle_html.png" alt="Image"></div>
												<div class="caption sfr"
													 data-x="140"
													 data-y="300"
													 data-speed="500"
													 data-start="1800"
													 data-easing="easeInOutSine"><img src="img/slides/circle_css.png" alt="Image"></div>
												<div class="caption sfl"
													 data-x="210"
													 data-y="300"
													 data-speed="500"
													 data-start="2000"
													 data-easing="easeInOutSine"><img src="img/slides/circle_jquery.png" alt="Image"></div>
												<div class="caption sfb"
													 data-x="280"
													 data-y="300"
													 data-speed="500"
													 data-start="2200"
													 data-easing="easeInOutSine"><img src="img/slides/circle_php.png" alt="Image"></div>
												<div class="caption sft"
													 data-x="350"
													 data-y="300"
													 data-speed="500"
													 data-start="2400"
													 data-easing="easeInOutSine"><img src="img/slides/circle_w3.png" alt="Image"></div>
													 
											</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="l-submain color_alternate">
					<div class="l-submain-h g-html">
					
						<div class="w-actionbox controls_aside color_alternate">
							<div class="w-actionbox-h">
								<div class="w-actionbox-text">
									<h3>Please sign up or Login to RSVP</h3>
								</div>
								<div class="w-actionbox-controls">
									<a class="w-actionbox-button g-btn size_big type_primary" href="#" target="_blank"><span>Sign Up</span></a>
									<a class="w-actionbox-button g-btn size_big type_secondary" href="#" target="_blank"><span>Login</span></a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">

						<div class="g-cols">
							<div class="one-third">
								<div class="w-iconbox icon_left">
									<div class="w-iconbox-h">
										<div class="w-iconbox-icon">
											<i class="icon-edit"></i>
										</div>
										<div class="w-iconbox-text">
											<h3 class="w-iconbox-text-title">Login</h3>
											<div class="w-iconbox-text-description">
												<p>Sign up or Login, keep your deatils safe so you can access the site from now on </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="one-third">
								<div class="w-iconbox icon_left">
									<div class="w-iconbox-h">
										<div class="w-iconbox-icon">
											<i class="icon-search"></i>
										</div>
										<div class="w-iconbox-text">
											<h3 class="w-iconbox-text-title">Check Details</h3>
											<div class="w-iconbox-text-description">
												<p>Check dates, locations, logistics and other details you may need to know </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="one-third">
								<div class="w-iconbox icon_left">
									<div class="w-iconbox-h">
										<div class="w-iconbox-icon">
											<i class="icon-check"></i>
										</div>
										<div class="w-iconbox-text">
											<h3 class="w-iconbox-text-title">RSVP</h3>
											<div class="w-iconbox-text-description">
												<p>Let us know if you can attend, We hope you can!</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="l-submain">
					<div class="l-submain-h g-html i-cf">
					
						<div class="g-cols">
							<div class="one-half animate_afl">
								<div class="wpb_single_image align_center">
									<img src="img/placeholder/500x500.gif" alt="">
								</div>
							</div>
							<div class="one-half">
								<h2 style="text-align: center;">Save The Date</h2>
								<p style="text-align: center;">Hi all, If you have recieved an invitaion with this web addresss on then you are formally invited to Tom and Jens wedding in Barcelona in April of next year. Please sign in and let us know if you can make it X</p>
								<div class="g-hr type_short size_small">
									<span class="g-hr-h">
										<i class="icon-heart"></i>
									</span>
								</div>
								<p style="text-align: center;"><a class="g-btn type_secondary" href="features.html"><i class="icon-chevron-right"></i>Sign In</a></p>
							</div>
						</div>
						
					</div>
				</div>
				
				
				
				
		<% end %>


