<!-- MAIN -->
		<div class="l-main">
			<div class="l-main-h">

				<div class="l-submain for_pagehead color_alternate">
					<div class="l-submain-h g-html i-cf">
						<div class="w-pagehead">
							<h1>Venue</h1>
							<p>Palau Moxo</p>
							<!-- breadcrums -->
							
						</div>
					</div>
				</div>
				
				<div class="l-submain">
					<div class="l-submain-h g-html">

						<iframe width="1000" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?q=palau+moxo&amp;client=firefox-a&amp;ie=UTF8&amp;hq=palau+moxo&amp;hnear=&amp;radius=15000&amp;ll=41.38302,2.17843&amp;spn=0.009402,0.020149&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=15075649351859555819&amp;output=embed"></iframe>
						<div class="g-cols">
							<div class="one-third">
								<h3>Location</h3>
								<p>Palau Moxo is located at the square "plaça Sant Just" in front of a Gothic church, very close to the Town Hall and the Palace of the local government (Generalitat). Its located in between the Gothic area and Las ramblas, its very central to the city, but with all the winding alleys can be a bit hard to fine, please leave time to find your way there. </p>

								<div class="g-hr">
									<span class="g-hr-h">
										<i class="icon-star"></i>
									</span>
								</div>
								<ul>
									<li><strong>Time</strong>: 1pm</li>
									<li><strong>Date</strong>: 3rd April 2014</li>
									<li><strong>Venue</strong>:&nbsp;<a href="www.palaumoxo.com">www.palaumoxo.com</a></li>
								</ul>
							</div>
							<div class="two-thirds">

								<h3>More Info</h3>

								<div class="w-tabs">
									<div class="w-tabs-h">
										<div class="w-tabs-list">
											<div class="w-tabs-item active">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">About</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">On the day</span>
											</div>
											<div class="w-tabs-item">
												<span class="w-tabs-item-icon"></span>
												<span class="w-tabs-item-title">Getting there</span>
											</div>
										</div>
										<div class="w-tabs-section active">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Summary</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content" style="">
												<div class="w-tabs-section-content-h">
													<p><p>Palau Moxo is a building of late baroque style, it was built between the gothic Barcelona Cathedral and Gaudi modernism. I copy and pasted that, belive it or not, It basically means it looks a lot like the cool parts of Barcelona we like to look around and drink in and thats why it sums up Barcelona for us. The upsatirs is a bit, well pretensious, alot of gold leaf etc, which isnt for us but the groundfloor, where the ceremony is taking place is very Barcelona, which is why we choose the venue.</p></p>
													<blockquote><p>At delectus doloremque dolores explicabo laudantium minima qui. Animi aperiam aspernatur atque debitis distinctio impedit inventore iure labore modi omnis, optio rerum ut veritatis voluptatum?</p></blockquote>
													<p>Suspendisse consectetur fringilla suctus. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
												</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Extended Info</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<div class="g-cols">
														<div class="one-half">
															<h4>One Half</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Etiam facilisis venenatis libero, ac fermentum dolor euismod in. Phasellus placerat egestas varius. Vivamus eleifend at massa sodales faucibus. Vestibulum egestas nibh in turpis volutpat ornare.</p>
														</div>
														<div class="one-half">
															<h4>One Half</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Etiam facilisis venenatis libero, ac fermentum dolor euismod in. Phasellus placerat egestas varius. Vivamus eleifend at massa sodales faucibus. Vestibulum egestas nibh in turpis volutpat ornare.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="w-tabs-section">
											<div class="w-tabs-section-title">
												<span class="w-tabs-section-title-icon"></span>
												<span class="w-tabs-section-title-text">Additional Few Things</span>
												<span class="w-tabs-section-title-control"></span>
											</div>
											<div class="w-tabs-section-content">
												<div class="w-tabs-section-content-h">
													<p>Etiam facilisis venenatis libero, ac fermentum dolor euismod in. Phasellus placerat egestas varius. Vivamus eleifend at massa sodales faucibus. Vestibulum egestas nibh in turpis volutpat ornare. Ut tempor lacinia purus, ac gravida tortor suscipit eget. Maecenas id mi ac sapien ornare imperdiet. Nullam et faucibus urna, at bibendum ante. Donec dapibus nisi blandit augue malesuada, non porttitor est aliquet.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="l-submain">
					<div class="l-submain-h g-html ">

						<h3 style="text-align: center;">Most Recent Projects</h3>

						<div class="g-hr type_invisible">
							<span class="g-hr-h">
								<i class="icon-star"></i>
							</span>
						</div>
						<div class="w-portfolio columns_4">
							<div class="w-portfolio-h">
								<div class="w-portfolio-list">
									<div class="w-portfolio-list-h">
										<div class="w-portfolio-item">
											<div class="w-portfolio-item-h">
												<a href="#" class="w-portfolio-item-anchor">
													<div class="w-portfolio-item-image">
														<img width="490" height="490" alt="" src="img/placeholder/500x500.gif">
														<div class="w-portfolio-item-meta">
															<h2 class="w-portfolio-item-title">Single Project</h2>
															<i class="icon-mail-forward"></i>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="w-portfolio-item">
											<div class="w-portfolio-item-h">
												<a href="#" class="w-portfolio-item-anchor">
													<div class="w-portfolio-item-image">
														<img width="490" height="490" alt="" src="img/placeholder/500x500.gif">
														<div class="w-portfolio-item-meta">
															<h2 class="w-portfolio-item-title">Single Project</h2>
															<i class="icon-mail-forward"></i>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="w-portfolio-item">
											<div class="w-portfolio-item-h">
												<a href="#" class="w-portfolio-item-anchor">
													<div class="w-portfolio-item-image">
														<img width="490" height="490" alt="" src="img/placeholder/500x500.gif">
														<div class="w-portfolio-item-meta">
															<h2 class="w-portfolio-item-title">Single Project</h2>
															<i class="icon-mail-forward"></i>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="w-portfolio-item">
											<div class="w-portfolio-item-h">
												<a href="#" class="w-portfolio-item-anchor">
													<div class="w-portfolio-item-image">
														<img width="490" height="490" alt="" src="img/placeholder/500x500.gif">
														<div class="w-portfolio-item-meta">
															<h2 class="w-portfolio-item-title">Single Project</h2>
															<i class="icon-mail-forward"></i>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>
		<!-- /MAIN -->