
<!-- FOOTER -->
<div class="l-footer type_normal">
	<div class="l-footer-h">

		<!-- subfooter: top -->
		<div class="l-subfooter at_top">
			<div class="l-subfooter-h g-cols cols_fluid">

				<div class="one-third">
					<div class="widget">
						<h4>About us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit <a href="#">amet fermentum</a>.</p>
						<p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
					</div>
				</div>

				<div class="one-third">
					<div class="widget">
						<h4>Latest News</h4>
						
						<div class="w-bloglist date_atbottom">
							<div class="w-bloglist-list">
								<div class="w-bloglist-entry">
									<a class="w-bloglist-entry-link" href="blog-post.html">Another Single Interesting Post</a>
									<span class="w-bloglist-entry-date">March 27, 2013</span>
								</div>
								<div class="w-bloglist-entry">
									<a class="w-bloglist-entry-link" href="blog-post.html">This is Just a Single Clean Post with Long Interesting Title</a>
									<span class="w-bloglist-entry-date">March 08, 2013</span>
								</div>
								<div class="w-bloglist-entry">
									<a class="w-bloglist-entry-link" href="blog-post.html">This is a Single Clean Post</a>
									<span class="w-bloglist-entry-date">March 06, 2013</span>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="one-third">
					<div class="widget">
					
						<h4>Contact Info</h4>
						
						<div class="w-contacts">
							<div class="w-contacts-h">
								<div class="w-contacts-list">
									<div class="w-contacts-item for_address">
										<i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">1600 Amphitheatre Parkway, Mountain View, CA 94043, United States</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Phone:</span>
										<span class="w-contacts-item-value">+321 123 4567</span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Email:</span>
										<span class="w-contacts-item-value"><a href="mailto:info@example.com">info@example.com</a></span>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="widget">
					
						<div class="w-socials size_normal">
							<div class="w-socials-h">
								<div class="w-socials-list">

									<div class="w-socials-item facebook">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-facebook"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">Facebook</span>
											</div>
										</div>
									</div>
									<div class="w-socials-item twitter">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-twitter"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">Twitter</span>
											</div>
										</div>
									</div>
									<div class="w-socials-item gplus">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-google-plus"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">Google</span>
											</div>
										</div>
									</div>

									<div class="w-socials-item linkedin">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-linkedin"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">LinkedIn</span>
											</div>
										</div>
									</div>
									<div class="w-socials-item tumblr">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-tumblr"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">Tumblr</span>
											</div>
										</div>
									</div>
									<div class="w-socials-item dribbble">
										<a class="w-socials-item-link" target="_blank" href="">
											<i class="icon-dribbble"></i>
										</a>
										<div class="w-socials-item-popup">
											<div class="w-socials-item-popup-h">
												<span class="w-socials-item-popup-text">Dribbble</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>

		<!-- subfooter: bottom -->
		<div class="l-subfooter at_bottom">
			<div class="l-subfooter-h i-cf">

				<div class="w-copyright">2013 All rights reserved. <a href="http://us-themes.com/">Astra Theme by UpSolution</a></div>

				<!-- NAV -->
				<nav class="w-nav">
					<div class="w-nav-h">
						<div class="w-nav-list layout_hor width_auto float_right level_1">
							<div class="w-nav-list-h">
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="index.html" class="w-nav-anchor level_1">Home</a>
									</div>
								</div>
								<div class="w-nav-item level_1 active">
									<div class="w-nav-item-h">
										<a href="about.html" class="w-nav-anchor level_1">Pages</a>
									</div>
								</div>
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="portfolio-3.html" class="w-nav-anchor level_1">Portfolio</a>
									</div>
								</div>
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="blog.html" class="w-nav-anchor level_1">Blog</a>
									</div>
								</div>
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="elements.html" class="w-nav-anchor level_1">Shortcodes</a>
									</div>
								</div>
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="features.html" class="w-nav-anchor level_1">Features</a>
									</div>
								</div>
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="contact.html" class="w-nav-anchor level_1">Contact</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>

			</div>
		</div>

	</div>
</div>
<!-- /FOOTER -->