
<!-- FOOTER -->
<div class="l-footer type_normal">
	<div class="l-footer-h">

		<!-- subfooter: top -->
		<div class="l-subfooter at_top">
			<div class="l-subfooter-h g-cols cols_fluid">

				<div class="one-third">
					<div class="widget">
						<h4>About us</h4>
						<p>Why do you need a website for this, just send out RSVP's like normal people. That would of been alot easier in honesty. But, as the wedding is abroad its a bit different, there will be lots of of questions about getting there, where exactly is it, how much will it cost etc etc, which means everyone will be ringing me to find out this information. Hopefully this site will answer most of these question, so in the long run it actually save's me earache. </p>
						
					</div>
				</div>

				<div class="one-third">
					<div class="widget">
						<h4>Another advantage...</h4>
						<p>Once we have decided on the menu we will email you via your login email address so you can log back in and choose yours and your guests menu's, i.e meat (for normal people), Vegetarian or childrens. Any other important info or changes we will email you using this address. Again saving me time and effort. </p>
						
					</div>
				</div>

				<div class="one-third">
					<div class="widget">
					
						<h4>Contact Info</h4>
						
						<div class="w-contacts">
							<div class="w-contacts-h">
								<div class="w-contacts-list">
									<div class="w-contacts-item for_address">
										<i class="icon-location"></i>
										<span class="w-contacts-item-name">Address:</span>
										<span class="w-contacts-item-value">Im not giving my address out,</br>
										                                    I dont want you ragabonds turning up at my house at Christmas</span>
									</div>
									<div class="w-contacts-item for_phone">
										<i class="icon-mobile"></i>
										<span class="w-contacts-item-name">Phone:</span>
										<span class="w-contacts-item-value">+44 7976884486</span>
									</div>
									<div class="w-contacts-item for_email">
										<i class="icon-mail"></i>
										<span class="w-contacts-item-name">Email:</span>
										<span class="w-contacts-item-value"><a href="mailto:tmurdoch_99@yahoo.com">tmurdoch_99@yahoo.com</a></span>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
						
					
				</div>

			</div>
		</div>

		<!-- subfooter: bottom -->
		<div class="l-subfooter at_bottom">
			<div class="l-subfooter-h i-cf">

				<div class="w-copyright">2013 All rights reserved. <a href="http://affectmedia.co.uk/">Affect Media</a></div>

				<!-- NAV -->
				<nav class="w-nav">
					<div class="w-nav-h">
					<% if user_signed_in? %>
						<div class="w-nav-list layout_hor width_auto float_right level_1">
							<div class="w-nav-list-h">
								<div class="w-nav-item level_1">
									<div class="w-nav-item-h">
										<a href="root_path" class="w-nav-anchor level_1">Home</a>
									</div>
								</div>
								
										<% if @has_made_rsvp  %>
 										
										<% else %>
										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/rsvp" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">RSVP</span>
													<span class="w-nav-hint"></span>
												</a>
												
											</div>
										</div>
										<% end %>

 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/venue" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Venue</span>
													<span class="w-nav-hint"></span>
												</a>
												
													
												
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/gettingthere" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Getting There</span>
													<span class="w-nav-hint"></span>
												</a>
												
												
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/barcelona" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Barcelona</span>
													<span class="w-nav-hint"></span>
												</a>
												
												
											</div>
										</div>
									<!-- 	<div class="w-nav-item level_1">
											<div class="w-nav-item-h">
												<a href="features.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Contact</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div> -->
										<% end %>
								
							</div>
						</div>
					</div>
				</nav>

			</div>
		</div>

	</div>
</div>
<!-- /FOOTER -->