		          		<!-- HEADER -->
		<div class="l-header">
			<div class="l-header-h">

				<div class="l-subheader at_middle">
					<div class="l-subheader-h i-cf">
					
						<!-- LOGO -->
						<div class="w-logo">
							<div class="w-logo-h">
								
									
									<span class="w-logo-title">
										<a href="/" class="w-logo-title">Tom And Jens Wedding</a>
									</span>
								
							</div>
						</div>

						

						<!-- NAV -->
						<nav class="w-nav">
							<div class="w-nav-h">
								<div class="w-nav-control">
									<i class="icon-reorder"></i>
								</div>
								<div class="w-nav-list layout_hor width_auto float_right level_1">
									<div class="w-nav-list-h">
										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/" class="w-nav-anchor level_1">Home</a> 
													
												
												
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/rsvp" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">RSVP</span>
													<span class="w-nav-hint"></span>
												</a>
												
											</div>
										</div>

 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/venue" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Venue</span>
													<span class="w-nav-hint"></span>
												</a>
												
													
												
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/gettingthere" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Getting There</span>
													<span class="w-nav-hint"></span>
												</a>
												
												
											</div>
										</div>
 										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="/barcelona" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Barcelona</span>
													<span class="w-nav-hint"></span>
												</a>
												
												
											</div>
										</div>
										<div class="w-nav-item level_1">
											<div class="w-nav-item-h">
												<a href="features.html" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Contact</span>
													<span class="w-nav-hint"></span>
												</a>
											</div>
										</div>
										<div class="w-nav-item level_1 with_sublevel">
											<div class="w-nav-item-h">
												<a href="#" class="w-nav-anchor level_1">
													<span class="w-nav-icon"><i class="icon-star"></i></span>
													<span class="w-nav-title">Account</span>
													<span class="w-nav-hint"></span>
												</a>
												<!-- level 2 -->
												<div class="w-nav-list place_down show_onhover level_2">
													<div class="w-nav-list-h">
														<div class="w-nav-item level_2">
															<div class="w-nav-item-h">
															 <a href="/users/edit" class="w-nav-anchor level_2">Edit account</a>
															</div>
														</div>
														<div class="w-nav-item level_2">
															<div class="w-nav-item-h">
																<a href="/users/sign_out" class="w-nav-anchor level_2" data-method="delete" rel="nofollow">Logout</a>
															</div>
														</div>
										             </div>
									            </div> 
										
										    </div>
									    </div>
								    </div>
							    </div>
						      </div>
						   </nav>
					    </div>
				    </div>

			    </div>
		    </div>
		</div>	
		<!-- /HEADER -->